/* Sections */
section.about {
  max-width: 900px;
  margin: 2rem auto;
  padding: 0.5rem 0;
}

/* Feature list styling */
.feature-list {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  margin-top: 1rem;
}

.feature-item {
  display: flex;
  align-items: flex-start;
  gap: 1rem;
  background-color: #f4f6f7;
  padding: 1rem;
  border-radius: 125px; 
  box-shadow: 0 2px 6px rgba(0,0,0,0.05);
}

.feature-icon {
  font-size: 1.5rem;
}

.feature-text {
  flex: 1;
  padding-left: 20px;
}

.feature-title {
  font-weight: bold;
  color:#4a4d60;
  margin-bottom: 0.25rem;
}

/* CTA Section */
.cta {
background-image: url("../assets/coming-soon.jpg");
  color: #4a4d60;
  text-align: center;
  padding: 2rem 1rem;
  margin-top: 3rem;
  border-radius: 125px; 
  max-width: 800px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 3rem;
  cursor: pointer;
  position: relative;
  transition: width 0.5s ease, border-radius 0.5s ease;
  overflow: hidden;
  flex-shrink: 0;
  box-shadow: 0 10px rgba(0, 0, 0, 0.05);
}

.cta:hover {
    transform: scale(1.03);
    transition: 0.4s ease;
    border: 3px solid white;
  }

.cta h2 {
  font-size: 2rem;
  margin-bottom: 1rem;
}

.cta p {
  font-size: 1.2rem;
  margin-bottom: 2rem;
}

.cta-button {
  background-color: #72c780;
  color: #4a4d60;
  padding: 0.75rem 1.5rem;
  border: none;
  font-weight: bold;
  font-size: 1rem;
  border-radius: 50px;
  text-decoration: none;
  transition:0.3s ease;
}

.cta-button:hover {
  background-color:#f4f6f7;
}

/* Tablet view (≤768px) */
@media (max-width: 768px) {
    section.about {
    max-width: 650px;
      padding: 1rem;
      margin: 1rem auto;

    }
  
    .feature-list {
      gap: 1rem;
    }
  
    .feature-item {
      flex-direction: column;
      border-radius: 40px;
    }
  
    .cta {
    max-width: 500px;
      padding: 1.5rem 1rem;
      border-radius: 60px;
    }
  
    .cta h2 {
      font-size: 1.5rem;
    }
  
    .cta p {
      font-size: 1rem;
    }
  
    .cta-button {
      font-size: 0.9rem;
      padding: 0.6rem 1.2rem;
    }
  }
  
  /* Mobile view (≤480px) */
  @media (max-width: 480px) {
    section.about {
      padding: 1rem;
      margin: 1rem 0.5rem;
    }
    
    .feature-item {
      padding: 1rem;
      flex-direction: column;
      align-items: flex-start;
      border-radius: 35px;
    }

    .feature-title {
      font-size: 1rem;
    }
  
    /*CTA*/
    .cta {
    max-width: 350px;
      padding: 2rem;
      border-radius: 35px;
    }
  
    .cta h2 {
      font-size: 1.3rem;
    }
  
    .cta p {
      font-size: 1rem;
    }
  
    .cta-button {
      width: 100%;
      display: inline-block;
      padding: 0.75rem;
      font-size: 0.9rem;
    }
  }