body {
    background: linear-gradient(#f4f6f7, #a5bece);
}

.science {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 50vh;
}

.technology {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 50vh;
}

.engineering {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 50vh;
}

.art {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 50vh;
}

.mathematics {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 50vh;
}

.card-wrapper {
    max-width: 1100px;
    margin: 0 60px 35px;
    padding: 20px 10px;
    overflow: hidden;
}

.card-list .card-item {
    list-style: none;
}

.card-list .card-item .card-link {
    user-select: none;
    display: block;
    background: #fff;
    padding: 18px;
    border-radius: 12px;
    text-decoration: none;
    border: 2px solid transparent;
    box-shadow: 0 10px rgba(0, 0, 0, 0.05);
    transition: 0.2s ease;
}

.card-list .card-item .card-link:hover {
    border-color: #4a4d60;
}

.card-list .card-link .card-image {
    width: 100%;
    aspect-ratio: 16 / 9;
    object-fit: cover;
    border-radius: 10px;
}

.card-list .card-link .badge {
   padding: 8px 16px;
   font-size: 0.95rem;
   font-weight: 700;
   margin: 16px 0 18px;
   width: fit-content;
   border-radius: 50px;
}

.card-list .card-link .badge.sci {
    color: #72c780;
    background: #e8fcec;
}

.card-list .card-link .badge.tech{
    color: #a5bece;
    background: #edf8ff;
}

.card-list .card-link .badge.eng{
    color: #fec847;
    background: #fff7e6;
   }

.card-list .card-link .badge.ar{
    color: #a584a0;
    background: #fff0fd;
   }

 .card-list .card-link .badge.maths{
    color: #f28751;
    background: #ffe9de;
   }

.card-list .card-link .card-title {
    font-size: 1.19rem;
    color: #4a4d60;
    font-weight: 600;
}

.card-list .card-link .card-button {
    height: 35px;
    width: 35px;
    color: #4a4d60;
    border-radius: 50%;
    margin: 30px 0 5px;
    background: none;
    cursor: pointer;
    border: 2px solid #4a4d60;
    transform: rotate(-45deg);
    transition: 0.4s ease;
}

.card-list .card-link:hover .card-button {
color: #fff;
background: #4a4d60;
}