/*Hardware Types*/
/*Cells*/
/*Light*/

/*Tables for all*/
.hardware-types,
.network-interface-card {
  max-width: 900px;
  margin: 60px auto;
  padding: 0 40px;
}

.hardware-types ul {
  margin-left: 20px;
  padding-left: 20px;
}

.hardware-types li {
  margin-bottom: 8px;
}

.network-interface-card {
  background-color: #e3f2fd;
  border-left: 6px solid #4a4d60;
  padding: 20px;
  margin-top: 40px;
}

.network-interface-card h3 {
  color: #4a4d60;
  margin-bottom: 12px;
}

.network-interface-card p {
  font-size: 1rem;
  margin-bottom: 20px;
}

/* New Table Styles*/
.hardware-types h2 {
  text-align: center;
  font-size: 1.8rem;
  margin-bottom: 30px;
  color: #4a4d60;
}

.hardware-table {
  width: 100%;
  border-collapse: collapse;
  margin: 30px 0;
  box-shadow: 0 2px 3px rgba(0,0,0,0.1);
}

.hardware-table th, 
.hardware-table td {
  padding: 15px;
  border: 1px solid #ddd;
  text-align: left;
}

.hardware-table th {
    background-color: #72c780;
    color: white;
  font-weight: 500;
}

.hardware-table td {
  background-color: #ffffff;
  vertical-align: top;
}

.hardware-table tr:nth-child(even) td {
  background-color: #f5f9ff;
}

.hardware-table td strong {
  color:#4a4d60;
}

.hardware-table tr:hover td {
  background-color: #e3f2fd;
}

/*Cell*/
.theory-list ul {
  list-style-type: none;
  padding-left: 0; /* removes the default indentation */
  margin: 0; /* optional: resets default margin */
}

/*Video*/
.tip {
    background-color: #e7ecef;
    padding: 30px;
    margin: 40px auto;
    max-width: 800px;
    text-align: center;
    border-radius: 10px;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
  }
  
  .tip strong {
    display: block;
    font-size: 1.3rem;
    margin-bottom: 10px;
  }
  
  .tip-video {
    margin-top: 20px;
  }
  
  .tip iframe {
    width: 100%;
    max-width: 560px;
    height: 315px;
    border-radius: 10px;
  }

   /* Tablet */
   @media (min-width: 768px) {
    .tip {
      max-width:700px;
    }

    .tip iframe {
      max-width: 550px;
   }
  }

   /* Mobile view*/
   @media (max-width: 480px) {
    .tip {
      max-width: 350px;
      border-radius: 25px;
    }

    .tip iframe {
      max-width: 300px;
   }
  }