/* Reset default margin and padding */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Body Styles */
body {
  font-family: "articulat-cf", sans-serif;
  font-weight: 400;
  font-style: normal;
    background-color: #f4f6f7;
    color: #333333;
    line-height: 1.6;
}

/* Header Styles */
header {
  position: relative;
  top: 0;
  left: 0;
  right: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 30px;
  z-index: 10;
  background-color: transparent;
  transition: background-color 0.3s ease, padding 0.3s ease;
}

.sticky-menu {
background: transparent;
position: fixed;
}

.logo {
  width: 200px;
  height: auto;
  mix-blend-mode:color-dodge
}

header nav {
  display: flex;
  align-items: center; /* Ensures the search bar aligns with the nav items */
}

header nav ul {
  list-style: none;
  display: flex;
  margin: 0;
}

header nav ul li {
  margin: 7px;
}

header nav ul li a {
  color: #4a4d60;
  text-decoration: none;
  font-size: 1rem;
  transition: color 0.3s ease, transform 0.3s ease;
  display: inline-block;
}

nav ul li a:hover {
  color: #72c780; 
  transform: scale(1.2);
}

.search {
  height: 30px
}

.submit {
  border: none;
  outline: none;
  background: none;
  text-align: center;
  width: 70px;
  height: 30px;
  position: relative;
  overflow: hidden;
  transition: color 0.5s;
}
.submit::before {
  content: "";
  position: absolute;
  z-index: -1;
  height: 200px;
  width: 250px;
  border-radius: 50%;
  top: 100%;
  left: 100%;
  transition: 0.7s;
} 
 
.submit:hover {
  color: rgb(255, 255, 255);
} 
 
.submit:hover::before {
  top: -40px;
  left: -40px;
} 
 
.submit-fill {
  color: rgb(51, 51, 51);
  border: 2px solid rgb(51, 51, 51);
} 
 
.submit-fill::before {
  background: rgb(51, 51, 51);
} 

/* Footer Section */
footer {
  background-color: #333;
  color: white;
  text-align: center;
  padding: 20px;
}

footer .social-links a {
  color: white;
  text-decoration: none;
  margin: 0 5px;
}

/* Scroll Effects */
.shrink header {
  background-color: rgba(0, 0, 0, 0.7);
  padding: 10px 30px;
}

.shrink .logo {
  font-size: 1.5rem;
}

.shrink .hero {
  padding: 50px 20px;
  height: 60vh;
  opacity: 0.8;
}

.shrink .hero h2 {
  font-size: 2.5rem;
}